<label class="switch">
    <input type="checkbox" (change)='onChangeNotify($event)'>
    <span class="slider" [ngClass] = "{
        'round': round,
        'primary':theme === 'primary',
        'danger':theme === 'danger',
        'success':theme === 'success'
    }" ng-checked='checked'></span>
</label>
  