.custom-button {
	border-radius: 50px;
}

.btn {
	border-radius: 3px;
	box-shadow: inset;
}

.btn-primary {
	background-color: rgb(0, 119, 255);
}

.btn-outline-primary {
	background-color: transparent;
	border: 2px solid rgb(0, 119, 255);
}

.w-100 {
	width: 100%;
}
