<input
	id="id"
	name="name"
	[className]="'form-control'"
	[required]="required"
	[minlength]="minLen"
	[(ngModel)]="value"
	#name="ngModel"
/>

<div
	*ngIf="name.invalid && (name.dirty || name.touched)"
	class="alert alert-danger"
>
	<small *ngIf="name.errors.required">
		Name is required.
	</small>
	<small *ngIf="name.errors.minlength">
		Name must be at least 4 characters long.
	</small>
</div>
