<div class = "scroll scrollbar-primary" [style.width.px]='widthInPixels' [style.height.px]='heightInPixels' 
[ngClass] = "{
    'overflowX':overflowX,
    'overflowY': overflowY,
    'scrollbar-primary':theme === 'primary' && (overflowX||overflowY),
    'scrollbar-success':theme === 'success' && (overflowX||overflowY),
    'scrollbar-danger':theme === 'danger'  && (overflowX||overflowY)
}">
    <ng-content></ng-content>
</div>