p{
    padding: 0;
    margin: 0;
}

.large{
    font-size: 50px;
}

.medium{
    font-size: 24px;
}

.small{
    font-size: 15px;
}

.inline{
    display: inline;
}

.textCenter{
    text-align: center;
}